@model FileUploadViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Archivos</li>
        <li class="breadcrumb-item active" aria-current="page">Control de Archivos</li>
    </ol>
</nav>
<hr />

@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
<form method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple required />
    <input type="text" autocomplete="off" placeholder="Descripcion" name="description" required />
    <button type="submit" class="btn btn-primary" asp-controller="File" asp-action="UploadToFileSystem">Subir al sistema de archivos</button>
    <button class="btn btn-success" type="submit" asp-controller="File" asp-action="UploadToDatabase">Subir a la base de datos</button>
</form>
<hr />
<h4>Archivos en el sistema de archivos</h4>
@if (Model.FilesOnFileSystem.Count == 0)
{
    <caption>Sin Registros</caption>
}
else
{
    <caption>Lista de archivos en sistema</caption>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Tipo Archivo</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.FilesOnFileSystem)
            {
                <tr>
                    <th>@file.Id</th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.FileType</td>
                    <td>@file.CreatedOn</td>
                    <td>
                        @*<a type="button" class="btn btn-primary" asp-controller="File" asp-action="UploadToCPs" asp-route-id="@file.Id" disabled>Subir</a>*@
                        <a type="button" class="btn btn-danger" asp-controller="File" asp-action="DeleteFileFromFileSystem" asp-route-id="@file.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<hr />
<h4>Archivos en la base de datos</h4>
@if (Model.FilesOnDatabase.Count == 0)
{
    <caption>Sin Registros</caption>
}
else
{
    <caption>Lista de archivos en la base de datos</caption>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>File Type</th>
                <th>Created On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.FilesOnDatabase)
            {
                <tr>
                    <th>@file.Id</th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.FileType</td>
                    <td>@file.CreatedOn</td>
                    <td>
                        @*<a type="button" class="btn btn-primary" asp-controller="File" asp-action="DownloadFileFromDatabase" asp-route-id="@file.Id">Subir</a>*@
                        <a type="button" class="btn btn-danger" asp-controller="File" asp-action="DeleteFileFromDatabase" asp-route-id="@file.Id">Eliminar</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}