@model WebAdmin.ViewModels.VentasViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Ventas</li>
        <li class="breadcrumb-item active" aria-current="page">Crear Venta</li>
    </ol>
</nav>
<p>
    <a id="iNuevo" type="submit" class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Register">
        <i class="fas fa-plus"></i> Nuevo
    </a>
</p>
<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="TblVentas.IdCliente" class="control-label"></label>
            <select id="IdCliente" class="form-select" asp-for="TblVentas.IdCliente"
                asp-items="@(new SelectList(ViewBag.ListaUsuariosCentros,"IdUsuario","NombreUsuario"))">
                <option value="">SELECCIONAR</option>
            </select>
        </div>
        <span asp-validation-for="TblVentas.IdCliente" class="text-danger"></span>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label asp-for="TblVentas.RelVentaProductos[0].Descuento" class="control-label"></label>
            <input id="iDescuento" asp-for="TblVentas.RelVentaProductos[0].Descuento" class="form-control" type="number"
                min="0" max="100" value="0" />
        </div>
    </div>
    <div class="col-md-3">
        <label asp-for="@Model.RelVentaProductos[0].Categoria" class="control-label"></label>
        <div class="input-group mb-3">
            <select id="drpCategoria" class="form-select" asp-for="@Model.RelVentaProductos[0].Categoria" asp-items="@(new
            SelectList(ViewBag.ListaCategoria,"IdCategoria","CategoriaDesc"))">
                <option value="">SELECCIONAR</option>
            </select>
            <button class="btn btn-primary" type="button" onclick="DatosProductos()">Ver</button>
        </div>
        <span asp-validation-for="@Model.RelVentaProductos[0].Categoria" class="text-danger"></span>
    </div>
    <div class="col-md-5">

        <label asp-for="@Model.RelVentaProductos[0].Producto" class="control-label"></label>
        <div class="input-group mb-3">
            <select id="drpProducto" class="form-select" asp-for="@Model.RelVentaProductos[0].Producto">
                <option value="">SELECCIONAR</option>
            </select>
        </div>
        <span asp-validation-for="@Model.RelVentaProductos[0].Producto" class="text-danger"></span>
    </div>

</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Categoria</label>
            <input id="iCategoria" class="form-control" type="text" readonly />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Producto</label>
            <input id="iProducto" class="form-control" type="text" readonly />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Precio $</label>
            <input id="iPrecio" class="form-control" min="1" step="any" readonly />
        </div>
    </div>
    <div class="form-group">
        <button id="btnAddProducto" class="btn btn-primary" type="button" disabled>Agregar</button>
    </div>

</div>
<div class="row">
    <table class="table" id="tbProducto">
        <tbody>
            <thead>
                </th>
                <th style="text-align:center">
                    CATEGORIA
                </th>
                <th style="text-align:center">
                    PRODUCTO
                </th>
                <th style="text-align:center">
                    TOTAL
                </th>
                <th style="text-align:center">
                    PRECIO
                </th>
                <th style="text-align:center">
                    DESCUENTO
                </th>
                <th style="text-align:center">ACCIONES</th>
            </thead>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="TblVentas.IdTipoPago" class="control-label"></label>
            <select id="IdTipoPago" class="form-select" asp-for="TblVentas.IdTipoPago"
                asp-items="@(new SelectList(ViewBag.ListaTipoPago,"IdTipoPago","TipoPagoDesc"))">
                <option value="">SELECCIONAR</option>
            </select>
            <span asp-validation-for="TblVentas.IdTipoPago" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group" hidden>
            <label asp-for="TblVentas.CodigoPago" class="control-label"></label>
            <input asp-for="TblVentas.CodigoPago" class="form-control" />
            <span asp-validation-for="TblVentas.CodigoPago" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group" hidden>
            <label asp-for="TblVentas.FechaAlterna" class="control-label"></label>
            <input asp-for="TblVentas.FechaAlterna" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-3">
        <div class="col-sm-4">
            <label class="control-label">Total Venta</label>
        </div>
        <div class="col-sm-12">
            <input id="ivTotal" class="form-control" />
        </div>
    </div>
</div>
<button class="btn btn-primary" id="btnTerminar"  href="#" data-toggle="modal" data-target="#logoutModal">Guardar</button>
<a asp-action="Index" class="btn btn-secondary">Regresar</a>
   <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Listo/a para salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión
                    actual.</div>
                <div class="modal-footer">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("CreatePdf", "TblVentas", new { area = "" })">
                        <button type="submit" class="btn btn-primary">Imprimir</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    function GetClientReport() {  
    window.open('/{TblVentas}/CreatePdf, "_blank");  
}; 
    function RemoveRow(o) {
        //no clue what to put here?
        var p = o.parentNode.parentNode;
        p.parentNode.removeChild(p);
    }

    $('#drpProducto').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        mProductos();


    });
    $('#drpCategoria').change(function () {

        @* var $select_colonias = $('#drpProducto');
                $("#drpProducto").empty();


                $select_colonias.append('<option value="">SELECCIONAR</option>');
                $select_colonias.attr('required', true);
                $("#btnMostrar").setAttribute("disabled"); *@

    });
    $("#btnAddProducto").on("click", function () {
        var _desc = parseFloat($("#iDescuento").val())
        var _prec = parseFloat($("#iPrecio").val())
        var _tprecio = _prec - (100 * (_desc / 100))


        $("#tbProducto tbody").append(
            $("<tr>").append(
                $("<td style='text-align:center'>").text($("#iCategoria").val()),
                $("<td style='text-align:center'>").text($("#iProducto").val()),
                $("<td style='text-align:center'>").text(_tprecio),
                $("<td style='text-align:center'>").text($("#iPrecio").val()),
                $("<td style='text-align:center'>").text($("#iDescuento").val()),
                $("<td style='text-align:center'><a id='iDesactivaUsuario' class='btn btn-outline-secondary' title='Desactivar' onclick ='RemoveRow(this)'><i class='far fa-stop-circle' style='font-size: 1em; color: #FF9333;''></i></a></td>"))
        )

        var receivables = $("#tbProducto tbody tr>td:nth-child(2)").map(function () {
            return parseFloat($(this).text().replace(/,/g, ""));
        }).get().reduce(sum).toFixed(2);

        $("#ivTotal").text(receivables);


        function sum(a, b) {
            return a + b
        }
    })

    $("#btnTerminar").on("click", function () {

        var RelVenta_Productos = []
        var total = 0;

        $("#tbProducto > tbody > tr").each(function (i, tr) {

            RelVenta_Productos.push(
                {
                    Categoria: $(tr).find('td:eq(0)').text(),
                    Producto: $(tr).find('td:eq(1)').text(),
                    TotalPrecio: $(tr).find('td:eq(2)').text(),
                    Precio: $(tr).find('td:eq(3)').text(),
                    Descuento: $(tr).find('td:eq(4)').text()

                }
            )

        })

        var oCompraVM = {
            TblVentas: {
                IdCliente: $("#IdCliente").val(),
                IdTipoPago: $("#IdTipoPago").val(),
            },
            RelVentaProductos: RelVenta_Productos
        }

        jQuery.ajax({
            url: '@Url.Action("Index","TblVentas")',
            type: "POST",
            data: JSON.stringify(oCompraVM),
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if (data.respuesta) {
                    alert("Venta Registrada")

                    location.reload();
                }

            }

        })

    })
    $(function () {
        $('#btnSave').on('click', function () {
            var generation = {};
            var membersDetails = new Array();
            $("#tblProductos TBODY TR").each(function () {
                var row = $(this);
                var memberDetails = {};
                memberDetails.MemberType = row.find("TD").eq(0).html();
                memberDetails.MemberCategory = row.find("TD").eq(1).html();
                memberDetails.TotalSum = row.find("TD").eq(2).html();
                memberDetails.MemberCount = row.find("TD").eq(3).html();
                membersDetails.push(memberDetails);
            });

            generation.Memberdetails = membersDetails;

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Home/Save",
                data: JSON.stringify(generation),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                }
            });
        });
    });
    $('#IdCliente').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
    $('#drpCategoria').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
    $('#drpProducto').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
    function DatosProductos() {
        var vProducto = document.getElementById("drpCategoria").value;

        $.ajax({
            type: "GET",
            url: "/CatProductos/FiltroProductos/",
            data: { id: vProducto },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                var $select_colonias = $('#drpProducto');
                $("#drpProducto").empty();

                if (list.length == 0) {
                    $select_colonias.append('<option value="">SELECCIONAR</option>');
                    $select_colonias.attr('required', false);
                    $("#btnMostrar").setAttribute("disabled");
                }
                else {
                    $select_colonias.append('<option value="">SELECCIONAR</option>');
                    for (var i = 0, len = list.length; i < len; i++) {
                        $select_colonias.append('<option value=' + list[i].idProducto + '>' + list[i].descProducto + '</option>');
                        $select_colonias.attr('required', true);
                    }
                    $("#btnMostrar").removeAttr("disabled");
                }
            },
            error: function () {
                alert("Error!!")
            }
        });
        return false;
    }
    function mProductos() {
        var vProducto = document.getElementById("drpProducto").value;
        $.ajax({
            type: "GET",
            url: "/CatProductos/fFiltroProducto/",
            data: { idA: vProducto },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                    document.getElementById("iCategoria").value = null;
                    document.getElementById("iProducto").value = null;
                    document.getElementById("iPrecio").value = null;
                }
                else {

                    for (var i = 0, len = list.length; i < len; i++) {
                        document.getElementById("iCategoria").value = list[i].descCategoria;
                        document.getElementById("iProducto").value = list[i].descProducto;
                        document.getElementById("iPrecio").value = list[i].totalPrecioProducto;
                    }
                    $("#btnAddProducto").removeAttr("disabled");
                }
            },
            error: function () {
                alert("Error!!")
            }
        });
        return false;
    }
    function AgregaProducto() {
        var vProducto = document.getElementById("drpProducto").value;
        var vPorcentaje = document.getElementById("iDescuento").value;
        var vCosto = 0;
        var vtotal = 0;
        $.ajax({
            type: "GET",
            url: "/CatProductos/FiltroProducto/",
            data: { idA: vProducto },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                var items = "";
                $.each(data, function (i, item) {
                    const options2 = { style: "currency", currency: "USD" };
                    const numberFormat2 = new Intl.NumberFormat("en-US", options2);
                    vCosto = item.costo - (item.costo * (vPorcentaje / 100));
                    vCosto = vCosto;

                    var rows =
                        "<tr>" +
                        "<td style='text-align:center'>" +
                        item.DescCategoria +
                        "</td>" +
                        "<td style='text-align:center'>" +
                        item.DescProducto +
                        "</td>" +
                        "<td style='text-align:center'>" +
                        vCosto +
                        "<td style='text-align:center'>" +
                        numberFormat2.format(item.costo) +
                        "</td>" +
                        "<td style='text-align:center'>" +
                        numberFormat2.format((item.costo * (vPorcentaje / 100))) +
                        "</td>" +
                        "<td style='text-align:center'>" +

                        "<a asp-action='Edit' asp-route-id='" +
                        item.idProducto +
                        "'class='btn btn-outline-secondary' title='Editar'><i class='far fa-edit' style='font-size: 1em; color: #FFC300;' onclick='MProducto(this)'></i></a>" +
                        "<a asp-action='Delete' asp-route-id='" +
                        item.idProducto +
                        "'class='btn btn-outline-secondary' title='Desactivar'><i class='far fa-stop-circle' style='font-size: 1em; color: #FF9333;' onclick='DProducto(this)'></i></a></td>" +
                        "</tr>";
                    $("#tblProductos tbody").append(rows);
                });
            },
            error: function (ex) {
            },
        });
    }
    function subtotal() {
        var table = document.getElementById("tblProductos");
    }

</script>
}
