@model IEnumerable<WebAdmin.Models.TblVenta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Ventas</li>
        <li class="breadcrumb-item active" aria-current="page">Control Ventas</li>
    </ol>
</nav>
<p>
    <a id="iNuevo" type="submit" class="btn btn-outline-primary" asp-action="Create" value="Nuevo" title="Nuevo"><i class="fas fa-plus" hidden></i> Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.IdCentro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstatusRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.IdCentro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstatusRegistro)
            </td>
           <td id="iAcciones" >
                    <a id="iEditaUsuario" asp-action="Edit" asp-route-id="@item.IdVenta" class="btn btn-outline-secondary" title="Editar"><i class="far fa-edit" style="font-size: 1em; color: #FFC300; "></i></a>
                    <a id="iDetalleUsuario" asp-action="Details" asp-route-id="@item.IdVenta" class="btn btn-outline-secondary" title="Detalles"><i class="far fa-list-alt" style="font-size: 1em; color: #67C5C4 ; "></i></a>
                    <a id="iDesactivaUsuario" asp-action="Delete" asp-route-id="@item.IdVenta" class="btn btn-outline-secondary" title="Desactivar"><i class="far fa-stop-circle" style="font-size: 1em; color: #FF9333; "></i></a>
                </td>
            </tr>
        
}
    </tbody>
</table>
