@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Usuarios</li>
        <li class="breadcrumb-item active" aria-current="page">Crear Usuarios</li>
    </ol>
</nav>

<div class="row">


        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

 
                <div class="row">

        <div class="col-md-3">
               <div class="form-group">
                <label asp-for="Input.Nombres"></label>
                <input style="text-transform:uppercase" asp-for="Input.Nombres" class="form-control" />
                <span asp-validation-for="Input.Nombres" class="text-danger"></span>
            </div>
   
        </div>
        <div class="col-md-3">
             <div class="form-group">
                <label asp-for="Input.ApellidoPaterno"></label>
                <input style="text-transform:uppercase" asp-for="Input.ApellidoPaterno" class="form-control" />
                <span asp-validation-for="Input.ApellidoPaterno" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
              <div class="form-group">
                <label asp-for="Input.ApellidoMaterno"></label>
                <input style="text-transform:uppercase" asp-for="Input.ApellidoMaterno" class="form-control" />
                <span asp-validation-for="Input.ApellidoMaterno" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
         
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
                      <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
 <div class="col-md-2">
     <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
          
      </div>
      <div class="col-md-2">
      </div>
        </form>
    </div>

        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {

                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
